html, body {
		margin: 0;
		padding: 0;
	}
	.wrapper {
		width: 100%;
		height: 1000px;
	}
	.menu {
		width: 100%;
		background-color: red;
		box-shadow: 10px;
	}
	.container {
		width: 100%;
		height: 700px;
		margin-top: 5%;
	}
	.post-ad {
		width: 70%;
		height: 50%;
		background-color: red;
		margin: 0 auto;
	}
	.post {
		width: 70%;
		min-height: 400px;
		margin: 0 auto;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.post-title {
		width: 100%;
		height: 15%;
		padding-top: 2%;
		padding-left: 2%;
	}
	.post-img {
		width: 100%;
		height: 70%;
	}
	/* The sticky class is added to the navbar with JS when it reaches its scroll position */
	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
	.sticky + .container {
	  padding-top: 60px;
	}